.vs
.idea
build
build_win
build_Debug
build_Release
build_linux
cmake-build-debug
*.zip
*.tar.gz
*.gz
*.tar
*.7z

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
